.python-version
__pycache__/
.env
.DS_Store
*.pyc
*.pyo
*.pyd
.env.*
*.log
*.sqlite3
.mypy_cache/
.idea/
.vscode/
*.egg-info/
dist/
build/
.eggs/
.coverage
htmlcov/
*.bak
*.swp
*.swo
*.orig
*.tmp
*.cache
node_modules/